.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/launch.json
__pycache__/*
app/controllers/__pycache__/*
app/__pycache__/*
app/models/__pycache__/*
settings/__pycache__/*

